.sec2{
    /* border: 2px solid red; */
    height: 34vw;
}

.sec2buttons{
    width: 20vw;
    margin-left: 9.5vw;
}
.sec2btn2{
    height: 2.5vw;
    width: 7.2vw;
    margin: 0 1.3vw;
    border-radius: 1vw;
    border: none;
    border: 1px solid #ff765d;
    background-color: white;
    margin: 0 1vw;
    font-size: 0.8em;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.sec2content{
    /* border: 1px solid black; */
    width: 90vw;
    height: 25vw;
    margin-top: 2.4vw;
    display: flex;
    align-items: center;
    margin-left: 5vw;
}
.sec2content>img{
    border: 1px solid green;
    height: 23vw;
    width: 29vw;
    margin: 0 5vw;
    border-radius: 2vw;
}

.s2text{
    /* border: 1px solid green; */
    height: 23vw;
    width: 45vw;
    /* margin: 0 3vw; */
}
.div{
    margin: 1.3vw 0;
}
.s2text h1{
    margin: 1vw 0;
    font-size: 1.8em;
    width: 30vw;
}
.author{
    display: flex;
    align-items: center;
    margin-top: 1.5vw;
}
.author>img{
    height: 3vw;
    width: 3vw;
    border-radius: 10vw;
    border: 1px solid yellow;
}
.authorsname{
    margin-left: 1vw;
}