.sec3{
    /* border: 2px solid red; */
    height: 62vw;
}
.s3boxes{
    /* border: 1px solid black; */
    height: 26vw;
    width: 90vw;
    display: flex;
    margin-left: 6vw;
    margin-bottom: 3vw;
}
.box1{
    /* border: 1px solid green; */
    height: 27vw;
    width: 25vw;
    margin: 0 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box1>img{
    border: 1px solid green;
    height: 15vw;
    width: 23vw;
    /* margin: 0 5vw; */
    border-radius: 1vw;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.flex a{
    color: black;
    text-decoration: none;
}

.boxtext{
    /* border: 1px solid green; */
    height: 11vw;
    width: 20vw;
    margin-left: 1vw;
}
.boxdiv{
    margin: 0.4vw 0;
    font-size: 0.8em;
}
.boxtext h1{
    margin: 0.5vw 0;
    font-size: 1.8em;
    width: 15vw;
    font-size: 1em;
}
.author{
    display: flex;
    align-items: center;
    margin-top: 1.5vw;
}
.boxauthor{
    display: flex;
    margin-top: 0.5vw;
}
.boxauthor>img{
    height: 2vw;
    width: 2vw;
    border-radius: 10vw;
    border: 1px solid yellow;
}
.boxauthorsname{
    margin-left: 0.5vw;
    font-size: 0.8vw;
}